@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.carousel-inner .carousel-item {
  transition: transform 0.4s ease-in-out;
  background-color: transparent !important;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reduzindo o tamanho da fonte e o espaçamento do menu lateral */
#sidebarMenu {
  font-size: 0.9rem;
  /* Reduz o tamanho da fonte */
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
} */


#sidebarMenu .nav-link {
  padding: 0.8rem;
  /* Reduz o espaçamento interno dos links */
  font-size: 0.9rem;
  /* Reduz o tamanho da fonte dos links */
}

.sidebar-heading {
  font-size: 5rem;
  /* Reduz o tamanho da fonte dos cabeçalhos */
  font-family: 'Noticia Text';
  margin-bottom: 0.5rem;
  /* Reduz o espaçamento abaixo dos cabeçalhos */
}

footer {
  background: rgb(0, 146, 112);
  background: radial-gradient(circle, rgba(0, 146, 112, 1) 0%, rgba(0, 146, 112, 1) 1%, rgba(62, 62, 63, 1) 100%, rgba(42, 117, 106, 1) 100%, rgba(10, 94, 77, 1) 100%);
  color: white;
  width: 100%;
  position: relative;
}

.container {
  flex: 1;
}

#sidebarMenu {
  position: sticky;
  top: 100px;
  /* Ajuste a posição conforme necessário */
  width: auto;
  /* Largura automática para se ajustar ao conteúdo */
  max-width: 300px;
  /* Aumenta a largura máxima */
  padding: 12px;
  /* Espaçamento interno */
  background-color: #f8f9fa;
  /* Cor de fundo do menu */
  border-radius: 8px;
  /* Bordas arredondadas */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  /* Sombra para efeito 3D */
  z-index: 1000;
  /* Garante que o menu fique no topo de outros elementos */
  overflow-y: auto;
  /* Adiciona barra de rolagem vertical se necessário */
  height: min-content;
  white-space: normal;
  /* Permite quebra de linha */

}

/* Ajustes nos links dentro do menu */
#sidebarMenu .nav-link {
  padding: 0.5rem 1rem;
  /* Reduz o espaçamento interno dos links */
  font-size: 0.87rem;
  /* Tamanho da fonte dos links */
  white-space: normal;
  /* Permite quebra de linha dentro do link */
  overflow: visible;
  /* Exibe todo o conteúdo dos links */
  text-overflow: clip;
  /* Não trunca o texto */
  display: block;
  /* Exibe os links como blocos para ocupar toda a largura */
}

main {
  flex: 1;
}

/* Ajuste da largura dos subtítulos */
#sidebarMenu h2,
#sidebarMenu h3 {
  font-size: 1rem;
  /* Tamanho de fonte para subtítulos */
  margin-bottom: 0.5rem;
  /* Espaçamento inferior */
  white-space: normal;
  /* Permite quebra de linha em subtítulos */
}

.navbar-custom {
  background-color: #285B50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  background: rgb(33,73,64);
  background: linear-gradient(0deg,rgb(35, 80, 70) 0%,rgba(40,91,80,1) 7%, rgba(40,91,80,1) 100%);
  z-index: 1;
}

.navbar-custom .navbar-nav .nav-link {
  font-size: 0.9rem;
  /* Reduzido o tamanho da fonte */
  padding: 5px 8px;
  /* Ajustado o padding */
  white-space: nowrap;
  /* Impede quebra de linha */
  color: #408c68;
  /* cor para os links */


}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #146551;
}

.navbar-custom .search-bar {
  background-color: #f0f0f5;
  border-radius: 15px;
  padding: 5px 10px;
  width: 100%;
  max-width: 210px;
  /* Define um tamanho máximo para telas maiores */
  font-size: 0.9rem;
}

.navbar-custom .search-bar input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 5px;
  color: #333333;
  font-size: 0.9rem;
}

.navbar-custom .search-bar .fa-search {
  color: #888888;
  margin-right: 5px;
}

.navbar-custom .search-bar button {
  background-color: transparent;
  border: none;
  color: #888888;
  cursor: pointer;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
  font-size: 0.9em;
  /* Ajustado o tamanho da fonte */
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 4px;
  /* Reduzido o espaçamento entre itens */
}

/* Estilo para os cabeçalhos no menu lateral */
.sidebar-heading {
  background-color: #146551;
  /* Cor de fundo desejada */
  color: #ffffff;
  /* Cor do texto */
  padding: 10px;
  /* Padding para o texto ficar bem posicionado */
  border-radius: 4px;

  margin-bottom: 10px;
  /* Espaçamento abaixo do cabeçalho */
  font-weight: bold;
  /* Deixar o texto em negrito */
  white-space: normal;
  /* Impede a quebra de linha */
  overflow: hidden;
  /* Oculta o texto excedente */
  font-size: 0.9em;
  /* Reduzido o tamanho da fonte */
}



/* Estilo para os links do menu lateral */
#sidebarMenu .nav-link {
  color: #146551;
  /* Cor padrão dos links */
  text-decoration: none;
  /* Remove o sublinhado padrão */
}

#sidebarMenu .nav-link:hover,
#sidebarMenu .nav-link:focus {
  color: #0d3c2f;
  /* Cor ao passar o mouse ou focar no link */
  text-decoration: underline;
  /* Adiciona sublinhado ao passar o mouse */
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-montserratbold {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}


/* Declaramos alturas, devido ao posicionamento do elemento img */
.carousel-item {
  height: 32rem;
  background-color: #cac5c5;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  /* Reduzido o padding */
}

.navbar-custom .navbar-nav .nav-link {
  font-size: 0.9rem;
  /* Reduzido o tamanho da fonte */
  padding: 5px 8px;
  /* Ajustado o padding */
  white-space: nowrap;
  /* Impede quebra de linha */
  color: #408c68;
  /* cor para os links */


}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #28946c;
  /* Cor mais escura ao passar o mouse */
}

.navbar-custom .navbar-nav .nav-link.active {
  background-color: #146551;
  color: #ffffff;
  border-radius: 4px;
  padding: 6px 10px;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #146551;
}

.navbar-custom .search-bar {
  background-color: #f0f0f5;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 240px;
  font-size: 0.9rem;
}

.navbar-custom .search-bar input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 5px;
  color: #333333;
  font-size: 0.9rem;
}

.navbar-custom .search-bar .fa-search {
  color: #888888;
  margin-right: 5px;
}

.navbar-custom .search-bar button {
  background-color: transparent;
  border: none;
  color: #888888;
  cursor: pointer;
  font-size: 0.9rem;
}


footer h5 {
  margin-bottom: 5px;
  /* Reduzido o espaçamento abaixo do título */
  font-size: 1.1em;
  /* Ajustado o tamanho da fonte */
}

footer a {
  text-decoration: none;
  color: #146551;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilo para os cabeçalhos no menu lateral */
.sidebar-heading {
  background-color: #146551;
  /* Cor de fundo desejada */
  color: #ffffff;
  /* Cor do texto */
  padding: 10px;
  /* Padding para o texto ficar bem posicionado */
  border-radius: 4px;
  /* Arredondamento das bordas */
  margin-bottom: 10px;
  /* Espaçamento abaixo do cabeçalho */
  font-weight: bold;
  /* Deixar o texto em negrito */
  white-space: normal;
  /* Impede a quebra de linha */
  overflow: hidden;
  /* Oculta o texto excedente */
  font-size: 0.9em;
  /* Reduzido o tamanho da fonte */
}



/* Estilo para os links do menu lateral */
#sidebarMenu .nav-link {
  color: #146551;
  /* Cor padrão dos links */
  text-decoration: none;
  /* Remove o sublinhado padrão */
}

#sidebarMenu .nav-link:hover,
#sidebarMenu .nav-link:focus {
  color: #0d3c2f;
  /* Cor ao passar o mouse ou focar no link */
  text-decoration: underline;
  /* Adiciona sublinhado ao passar o mouse */
}

.btn-primary {
  background-color: #146551 !important;
  border-color: #146551 !important;
}

.marketing .col-lg-4 {
  margin-bottom: .5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featrurezinhas
  ------------------------- */

.featurette-divider {
  margin: 1.5rem 0;
  /* Espaça o elemento <hr> mais */
}

/* Afina os cabeçalhos de marketing */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Estilo específico para a seção "Apoiadas" */
.apoiadas-section .col-md-7 {
  margin-left: 20px;
  /* Ajuste o valor conforme necessário */
}


/* CSS RESPONSIVE
  -------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Ajuste o tamanho do carousel */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f7;
  padding: 50px;
  border-radius: 8px;
  margin: 50px auto;
  max-width: 1000px;
  box-shadow: 0px 4px 9px rgba(78, 77, 77, 0.4);
  text-align: center;
  text-decoration: none;
}

.cta-text h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta-text p {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #3e3f3f;
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
  background-color: #BCBDC0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.containerinicio {
  max-width: 74vw;
  margin: 0 13vw 0 13vw;
}

.container80 {
  max-width: 80vw;
  margin: 0 10vw 0 10vw;
}

.bg-gestaoprojetos {
  background-color: #3D9A78;
}
.bg-licitacao {
  background-color: #368669;
}

.bg-transparenciahome {
  background-color: #30755c;
}

.bg-hover {
  background-color: #00000027;
}

.bg-transparente {
  background-color: #303030ee;
}

.bg-transparentehome {
  background-color: #ffffff00;
}

.bg-verde {
  background-color: #009270;
}

.bg-verde2 {
  background-color: #1E8975;
}

.bg-verde3 {
  background-color: #336861;
}

.bg-verde4 {
  background-color: #1F945F;
}

.bg-verdeescuro {
  background-color: #35605A;
}

.bg-principal {
  background-color: #368669;
}

.bg-administracao {
  background-color: #a0beb7;
}

.bg-cinza {
  background-color: #dadada;
}

.bg-preto {
  background-color: #3E3E3E;
}

.bg-cinza1 {
  background-color: #6B7267;
}

.bg-cinza2 {
  background-color: #EBEBEB;
}

.bg-cinza3 {
  background-color: #BCD2E1;
}

.bg-cinza4 {
  background-color: #dee1e4;
}

.text-verde {
  color: #3D9A78
}

.text-verde2 {
  color: #368669
}

.text-verde3 {
  color: #30755C
}

.text-cinza {
  color: #BCBDC0;
}

.text-preto {
  color: #3E3E3F
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.custom-btn {
  background-color: #009170;   
  border-color: #009170;       
  color: white;                
}

.btn:hover {
  background: #7a7a7a;
}

/* NOTICIAS */


.sectionnews {
  padding: 100px 0;
  position: relative;
}

/* Blog 
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
  margin: -300px 20px 0;
  position: relative;
}

.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}

.blog-grid .blog-info h5 a {
  color: #3a3973;
}

.blog-grid .blog-info p {
  margin: 0;
}

.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

.px-btn-arrow {
  padding: 0 50px 0 0;
  line-height: 20px;
  position: relative;
  display: inline-block;
  color: #fe4f6c;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}


.px-btn-arrow .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
  -moz-transition: ease right 0.3s;
  -o-transition: ease right 0.3s;
  -webkit-transition: ease right 0.3s;
  transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.team_title {
  color: #000;
  margin-bottom: 60px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

.our-team {}

@media only screen and (max-width:768px) {
  .our-team {
    margin-bottom: 30px
  }
}

.single-team {
  margin-bottom: 10px;
}

.single-team img {
  margin-bottom: 15px;
  border-radius: 2px;
  border: 10px solid #fff;
}

.single-team h3 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
}

.single-team p {
  margin-bottom: 0px;
}

.our-team .social {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 30px;
  margin: 3px;
}

.our-team:hover .social li:nth-child(1) a {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.our-team:hover .social li:nth-child(2) a {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s
}

.our-team:hover .social li:nth-child(3) a {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.our-team:hover .social li:nth-child(4) a {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.our-team .social li a:hover {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/*START BOARD DIRECTOR*/
.bod_area {
  padding-bottom: 80px;
  background: #fbfafa;
}

.our-bod {}

@media only screen and (max-width:768px) {
  .our-bod {
    margin-bottom: 30px
  }
}

.single-bod {
  margin-bottom: 10px;
}

.single-bod img {
  margin-bottom: 15px;
  width: 180px;
  border-radius: 2px;
  height: 180px;
  border: 10px solid #fff;
}

.single-bod h3 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
}

.single-bod p {
  margin-bottom: 0px;
}

.our-bod .social li a:hover {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.title_spectial {
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 24px;
}

.bod_area {
  padding-bottom: 80px;
}

.section-padding {
  padding: 80px 0;
  padding-top: 100px;
}

.botaoadmin {
  width: 25vw;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

a {
  text-decoration: none;
}

.tragaseuprojeto {
  margin-left:25px !important;
}

@media (max-width: 876px) {

  p {
    font-size: 1.3em;
  }

  .textofooter {
    font-size: 1.2em;
  }

  .apoiadas {
    flex: 0 0 50%;
    max-width: 100%;
    margin-bottom:20px;
  }

  .margemtelapequena {
    margin-top:2em;
  }

  .margemtelapequenaesquerda {
    margin-left:1em;
    text-overflow: ellipsis;
  }
  
  .carousel-item {
    height: 12rem;
    background-color: #cac5c5;
  }

  .transformando {
    font-size: 2em !important;
  }

}

/* Acessibilidade */

    /* Ajuste na posição dos botões de acessibilidade */
    .accessibility-buttons {
    position: fixed;
    top: 650px; /* Ajuste conforme necessário */
    right: 10px;
    margin-right: 20px;
    z-index: 1050; /* Abaixo do menu */
    
  }


  .navbar-custom {
    z-index: 1040; /* Acima dos botões */
  }

   /* Estilo de alto contraste */
   .high-contrast {
        background-color: #000; /* Fundo preto */
        color: #099072; /* Texto branco */
    }

    .high-contrast a {
        color: #00F; /* Links azuis */
    }

    .high-contrast .btn {
        background-color: #408c68; /* Botões brancos */
        color: #000; /* Texto preto nos botões */
    }



    /*Captação */


    @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.pricing2 {
  font-family: "Montserrat", sans-serif;
  color: #080808;
  font-weight: 300;
  background-size: cover;
  background-image: url('/images/captacao.png'); 
  background-repeat: no-repeat;
  max-height: NONE;
  margin-bottom: 20px;

}


.pricing2 .pricing-box {
  margin-top: 200px;
}


.pricing2 .pricing-text span {
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  color: #263238;
}

.pricing2 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing2 .btn-success-gradiant {
  background: #238561;
  background: -webkit-linear-gradient(legacy-direction(to right), #03d4b1 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #119e63 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #12744b 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #12744b 100%);
}

.pricing2 .btn-success-gradiant:hover {
  background: #10705b;
  background: -webkit-linear-gradient(legacy-direction(to right), #12744b 0%, #2cdd9b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#12744b), to(#2cdd9b));
  background: -webkit-linear-gradient(left, #12744b 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #12744b 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #12744b 0%, #2cdd9b 100%);
}

.pricing2 .btn-outline-success {
  color: #12704e;
  background-color: transparent;
  border-color: #2cdd9b;
}

.pricing2 .btn-outline-success:hover {
  background: #2cdd9b;
  border-color: #2cdd9b;
  color: #ffffff;
}

.pricing2 .btn-md {
  padding: 10px 30px; 
  font-size: 16px;
}

@media (max-width: 767px) {
  .pricing2 .btn-md {
    width:   100%;
    padding: 10px 0; /* Ajustar o padding para manter o botão com altura adequada */
    text-align: center;
  }
  .pricing2 .pricing-box {
    margin-top: 20px;
  }
  .pricing2 .display-5 {
    font-size: 36px;
  }
  .pricing2 .card {
    padding: 15px
  }
  .pricing2 .above-card{
    padding: 0 15px;
  }
}