.header_topo {
    width: 100vw;
    height: 350px;
    /*background: url('https://fapeu.com.br/site/topo-fapeu.png');*/
    /* background: url('https://i.imgur.com/koeU9fp.png'); */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: top;
    background-size: contain;
}

.logo {
    width:80px;
    margin-right:10px;
    /* margin: 2vh 2vw 2vh -5vw */
}

.escolher {
    padding:10px;
    width:25%;
}

.bolder {
    font-weight: bolder;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.corCheckbox {
    color:black !important;
}

body {
    overflow-x: hidden !important;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
}

/* Coloca o objeto mais a direita possivel */
.forceright {
    display: flex;
    justify-content: flex-end;
}

/* Coloca o objeto mais a esquerda possivel */
.forceleft {
    display: flex;
    justify-content: flex-start;
}

.verdefapeu {
    background-color:#009270 !important;
}

.pretofapeu {
    background-color: #3e3e3f;
}

.cinzafapeu {
    background-color: #bcbdc0;
}

.verde1 {
    background-color: #00a775;
}

.verde2 {
    background-color: #00a76f;
}

.verde3 {
    background-color: #00965c;
}

.verde4 {
    background-color: #00895b;
}

.verde5 {
    background-color: #006e4a;
}

.verde6 {
    background-color: #005f3b;
}


.cinzaclaro {
    background-color: rgb(129, 129, 129);
}

.sombra {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 8px 6px 6px;
}

.branco {
    color:#ffffff;
}

.fundobranco {
    background-color: white;
}

@media (min-width: 922px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

footer {
    background-color: #009270;
    margin-top: auto;
}

.cabecalho {
    margin-right: 3vw
}

@media (min-width: 921px) {
    header {
        padding:5px;
        background-color: #009270;
        margin: 0 auto;
        width: 100vw;
        display:flex;
        justify-content: flex-end;
    }
}

/* CSS PARA MOBILE */

@media (max-width: 920px) {
    header {
        font-size: 11px;
        padding:5px;
        background-color: #009270;
        margin: 0 auto;
        width: 100vw;
        display:flex;
        justify-content: flex-end;
    }
}

body {
    font-family: "Montserrat Medium", Verdana, Arial, Helvetica, sans-serif !important;
}

.homepage {
    margin-bottom:4px;
}

.principal {
    font-size: 24px;
    border-radius: 12px;
}

.servicos {
    border-radius:10px;
}

.sociais {
    margin-right: 10px;
}

.pesquisa {
    margin-top:10px;
}